@font-face {
  font-family: "Bebas Neue";
  src: url("../public/assets/fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../public/assets/fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
